@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$background-default: #232134;
$background-secondary: #002DC0;


// Fontes

$font-jersey-15: 'Jersey 15', serif;
$font-jersey-10: 'Jersey 10', serif;
$font-open-sans: 'Open Sans', sans-serif;
